<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/numPattern.css">
    <title>Number Patterns</title>
</head>

<body>
    <h1>
        <%= topic.topicName %>
    </h1>

    <div class="QContainer">
        <h2 class="instructions">
            Complete the Sequence ...Q: <span class="counter">1</span>/<span>
                <%= topic.questions.length %>
            </span>
        </h2>
        <label for="question" class="numberLabel"> <span class="counter">1</span>. </label>
        <p class="question">2 300; 2 100; 1900; A ; B ; C</p>
        <hr>
        <label class="inputBoxLabel">A
            <input class="inputBoxABC" type="number" id="answerBoxA">
        </label>
        <label class="inputBoxLabel">B
            <input class="inputBoxABC" type="number" id="answerBoxB">
        </label>
        <label class="inputBoxLabel">C
            <input class="inputBoxABC" type="number" id="answerBoxC">
        </label>

        <div class="corrections"><a href="/afrikaans/Verlede-Tyd/corrections">View Corrections</a></div>

        <button class="active" id="button">Next</button>

    </div>
    <!-- capture data and scores -->
    <% const stringData=JSON.stringify(topic); %>
        <input type="text" id="data" value="<%= stringData %>">

        <div id="answerRes">

        </div>

        <div id="scoreDisplay" class="inactive">Score: <span id="scoreDisplay"></span></div>
        <script src="/numPattern.js"></script>
</body>

</html>