<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>corrections</h1>

    <ul>
        <% console.log("////////////////////////////////////////////") %>
            <% console.log(topicdata[0].corrections) %>
                <% for( let correction of topicdata[0].corrections ) { %>
                    <li>
                        <%= correction %>
                    </li>
                    <% } %>
    </ul>
</body>

</html>